name: cd

on:
  push:
    tags: ['v*.*']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions: read-all

jobs:
  cd:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: checkout-repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: install-dependencies
        run: |
          sudo apt-get install -y \
            libx11-dev            \
            libxcursor-dev        \
            libxrandr-dev         \
            libxi-dev
      - name: package
        run: ./src_build/make.cc
      - name: release
        uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v2.3.2
        with:
          draft: true
          generate_release_notes: true
          make_latest: true
          files: '*.tgz'
