name: ci

on:
  push:
    branches: [master]
    paths:
      - '.github/workflows/ci.yaml'
      - 'carbon.h.in'
      - 'src/**'
      - 'src_test/**'
      - 'src_build/**'
      - 'thirdparty/**'
      - 'how_to/**'
  pull_request:
    branches: [master]
    types: [opened, synchronize]
    paths:
      - '.github/workflows/ci.yaml'
      - 'carbon.h.in'
      - 'src/**'
      - 'src_test/**'
      - 'src_build/**'
      - 'thirdparty/**'
      - 'how_to/**'
  schedule:
    - cron: '0 9 * * 5'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions: read-all

jobs:
  ci:
    permissions:
      security-events: write
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - name: checkout-repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: setup-codeql
        uses: github/codeql-action/init@f09c1c0a94de965c15400f5634aa42fac8fb8f88 # v3
        with:
          languages: c-cpp
      - name: install-dependencies
        run: |
          sudo apt-get install -y \
            libx11-dev            \
            libxcursor-dev        \
            libxrandr-dev         \
            libxi-dev
      - name: build
        run: ./src_build/make.cc build
      - name: analyze
        uses: github/codeql-action/analyze@f09c1c0a94de965c15400f5634aa42fac8fb8f88 # v3
